#container {
    background-color: #222;
    background-image: url('http://i62.fastpic.ru/big/2014/0513/47/82a1b2361f756546ae69ed2c4bf8d047.png');
    display: inline-block;
    width: 800px;
    height: 540px;
}


    #buttons > input {
        padding: 10px;
        display: block;
        margin-top: 5px;
    }